<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <body>

        <div th:fragment="navigationBar">
            <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
            <link rel="stylesheet" text="text/css" href="/css/navigationBar.css">

            <div id="navigation-bar">
                <img id="nav-logo" src="https://res.cloudinary.com/maceurt/image/upload/v1553974932/pixil-frame-0_zpcg9l.png">
                <a href="/flashcard/makeNewFlashcardset">New Set</a>
                <span> --- </span>
                <a href="/flashcard/User/myFlashsets">My Flashsets</a>
                <span> --- </span>
                <a th:if="${logged_in}" href="/flashcard/User/me">My Profile</a>
                <a th:unless="${logged_in}" href="/flashcard/User/login">Log In</a>
            </div>
        </div>

    </body>
</html>
