<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <body>

        <div th:fragment="navigationBar">
            <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
            <link rel="stylesheet" text="text/css" href="/flashcard/static/css/navigationBar.css">

            <div id="navigation-bar">
                <a href = "/flashcard">
                    <img id="nav-logo" src="/flashcard/static/images/logo.png">
                </a>
                <a href="/flashcard/makeNewFlashcardset">New Set</a>
                <a href="/flashcard/User/myFlashsets">My Flashsets</a>
                <a th:if="${logged_in}" href="/flashcard/User/me">My Profile</a>
                <span th:unless="${logged_in}" id="lgr-lgr"><a href="/flashcard/User/login">Login</a> / <a href="/flashcard/User/register">Register</a></span>
            </div>
        </div>

    </body>
</html>
