<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <body>

        <div th:fragment="navigationBar">
            <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
            <link rel="stylesheet" text="text/css" href="/css/navigationBar.css">

            <div id="navigation-bar">
                <img id="nav-logo" src="https://res.cloudinary.com/maceurt/image/upload/v1553974932/pixil-frame-0_zpcg9l.png">
                <a href="Home">Flashcards</a>
                <span> --- </span>
                <a href="Edit">Edit</a>
                <span> --- </span>
                <a href="Get">Community</a>
            </div>
        </div>

    </body>
</html>
