


body {
    background-color: rgba(30,41,77);
    margin: 0px;
    padding: 0px;
    text-align: center;
}


#flashcardset {
    margin-top: 40px;
}

.flashcard {
    margin-bottom: 8px;
}

.flashcard-front, .flashcard-back {
    display: inline-block;
    width: 300px;
    height: 100px;
    color: #9fa8dd;
    text-shadow: 3px 3px #570001;
    font-size: 40px;
    padding: 10px;
    margin: 0px;
    resize: none;
    font-family: 'Baloo Chettan', cursive;
}

.flashcard-front {
    border: none;
    background-color: #571A3A;
}

.flashcard-back {
    border: none;
    background-color: #121619;
}

#add-flashcard {
    margin-bottom: 10px;
    cursor: pointer !important;
}

#add-flashcard .flashcard-front, #add-flashcard .flashcard-back {
    opacity: 0.5;
    cursor: pointer !important;
}

#add-flashcard:hover #add-flashcard-plus {

}

#add-flashcard:hover .flashcard-front, #add-flashcard:hover .flashcard-back {
    opacity: 1;
    display: inline-block;
}
