body {
    background-color: rgb(30,41,77);
}

#wrapflext {
    height: 100%;
    display: flex;
    vertical-align: middle;
}

#flashcard-wrapper {
    margin-top: 10vh;
    text-align: center;
}

#flashcard {
    display: inline-block;
    padding: 10px;
    width: 630px;
    height: 400px;
    margin: 0px auto;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 4px 4px black;
    background-color: rgb(87,26,58);
    color: rgb(159,168,221);
    font-family: "Baloo Chettan", cursive;
}

#flashcard-front, #flashcard-back {
    margin: auto;
    text-align: center;
    font-size: 70px;
    pointer-events: none;
}

#flashcard-back {
    display: none;
}

#flashcard-previous, #flashcard-next {
    display: inline-block;
    font-size: 30px;
    background: none;
    border: none;
    margin: 0px;
    cursor: pointer;
}
