<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/flashcard/static/css/Login.css">
    </head>
    <body>
        <div th:replace="fragments/navigationBar :: navigationBar"></div>
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

        <div id="login-wrapper">
            <h1>Login</h1>
            <form action="/flashcard/User/login" method="post" autocomplete="off">
                <div>
                    <p>Username:</p><p>Password:</p>
                </div>
                <div><input type="text" name="username"><input type="password" name="password"></div>
                <input type="submit">
            </form>
        </div>

    </body>
</html>
