<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Flashcards</title>

        <link rel="stylesheet" type="text/css" href="/flashcard/static/css/MyFlashsets.css">

        <script src="/flashcard/static/js/jquery-3.3.1.min.js"></script>
        </script>

        <script src="/flashcard/js/MySets.js"></script>
    </head>
    <body>
        <div th:replace="fragments/navigationBar :: navigationBar"></div>
        <div id="links-wrap">
            <div id="header-flashset">
                <div>
                    <h1>Name</h1>
                </div>
                <div>
                    <h1>ID</h1>
                </div>
                <div>
                    <h1>Flashcards</h1>
                </div>
            </div>
            <div th:each="flashset : ${flashsets}">
                <div class="flashset-wrapper">
                    <div>
                        <h1 class="flashset-name" th:text="${flashset.name}"></h1>
                    </div>
                    <div>
                        <h1 class="flashset-id" th:text="${flashset.id}"></h1>
                    </div>
                    <div>
                        <h1 class="flashset-flashcards" th:text="${#lists.size(flashset.flashcards)}"></h1>
                    </div>
                    <a th:href="@{/flashcard/Flashcardset(id=${flashset.id})}">
                        <div class="flashset-flip-wrap">
                            <h1 class="flashset-view">VIEW</h1>
                        </div>
                    </a>
                    <a th:href="@{/flashcard/Flashcardset/edit(id=${flashset.id})}">
                        <div class="flashset-flip-wrap">
                            <h1 class="flashset-edit">EDIT</h1>
                        </div>
                    </a>
                    <a class="delete-flashset">
                        <div class="flashset-flip-wrap">
                            <h1 class="flashset-delete">DELETE</h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
