<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Flashcards</title>
    </head>
    <body>
        <div th:replace="fragments/navigationBar :: navigationBar"></div>
        <form action="/flashcard/makeNewFlashcardset" method="post">
            <p>Name of your new set of flashcards:</p>
            <input type="text" name="name">
            <input type="submit" name="Create new set of flashcards" value="submit">
        </form>
    </body>
</html>
