<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Flashcards</title>
        <link rel="stylesheet" text="text/css" href="/flashcard/static/css/NewSet.css">
    </head>

    <body>

        <div th:replace="fragments/navigationBar :: navigationBar"></div>

        <div id="new-flashset">
            <form action="/flashcard/makeNewFlashcardset" method="post">
                <h1>Name of your new set of flashcards:</h1>
                <input type="text" name="name">
                <input type="submit" name="Create new set of flashcards" value="submit">
            </form>
        </div>

    </body>

</html>
