<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Flashcards</title>
        <link rel="stylesheet" type="text/css" href="/css/Set.css">

        <script src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        </script>

        <script src="/js/Set.js"></script>
    </head>
    <body>

        <div th:replace="fragments/navigationBar :: navigationBar"></div>

        <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

        <div id="flashcard-wrapper">

            <div id="flashcard">
              <div id="wrapflext">
                <p id="flashcard-front">Front</p>
                <p id="flashcard-back">Back</p>
              </div>
            </div>

        </div>

        <div id="flashcard-bottom-bar">
            <div><p>ID:</p><p id="flashcardsetId" th:text="${flashcardset.id}"></p></div>
            <button id="flashcard-previous">🡄</button>
            <p id="copy-flashcard">COPY</p>
            <button id="flashcard-next">🡆</button>
            <div><p>Name:</p><p id="flashcardsetName" th:text="${flashcardset.name}"></p></div>
        </div>

    </body>
</html>
