<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>User</title>
        <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/flashcard/static/css/User.css">
    </head>
    <body>

        <div th:replace="fragments/navigationBar :: navigationBar"></div>

        <div id="profile-information">
            <h1 th:text="${username}"></h1>
            <div class="profile-seperator"></div>
            <h2 th:inline="text">Flashsets: [[${#lists.size(flashsets)}]]</h2>
        </div>
    </body>
</html>
